---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About the project'>
    <h1>Primera pagina del demo</h1>

    <p>Seguimos aprendiendo sobre Astro con varios ejercicios</p>
</Layout>
